.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__titulo {
  color: white;
  font-weight: 900;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.register__signin-link {
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

.register__signin-link:hover {
  opacity: 60%;
}

@media screen and (max-width: 544px) {
  .register__signin-link {
    font-size: 12px;
    margin-top: 20px;
  }
}
