.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 358px;
}

.form__input {
  width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 13px;
  padding-left: 0;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin: 0;
  font-weight: 400;
}

.form__input::placeholder {
  color: #ccc;
}

.form__input:focus {
  border-bottom: 1px solid #fff;
}

.form__button {
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-weight: 400;
  width: 100%;
  height: 50px;
}

.form__button:hover {
  opacity: 0.8;
}

.form__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Erros de validação */
.form__input-error {
  font-size: 12px;
  color: #ff4d4f;
  min-height: 14px;
  margin-bottom: 30px;
}

.password-input-error {
  margin-bottom: 216px;
}

/* Variações específicas (opcional) */
.form__input_sign {
  background-color: transparent;
}

.form__button_sign {
  background-color: #fff;
}

@media screen and (max-width: 544px) {
  .form__fieldset {
    width: 260px;
  }

  .password-input-error {
    margin-bottom: 173px;
  }

  .form__button {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 46px;
  }
}
